<section class="section--paragraph">
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ paragraph.entity.field_text.value | raw }}
            </div>
            <div class="col-5 offset-1">
                {% if paragraph.entity.field_media | length > 1 %}
                <div class="owl-carousel owl-theme carousel--media col--img--full">
                {% for i in paragraph.entity.field_media %}
                    {% if i.entity.field_media_oembed_video %}
                        <iframe class="refrence-image" src="https://www.youtube.com/embed/{{ i.entity.field_media_oembed_video.value | slice(17)}}&autoplay=1&loop=1&mute=1&controls=0&rel=0&enablejsapi=1"></iframe>
                    {% endif %}
                    {% if i.entity.field_media_image %}
                        <img src="{{ i.entity.field_media_image.entity.uri.value | image_style('basic') }}" alt="">
                    {% endif %}
                {% endfor %}
                </div>
                {% else %}
                <div class="col--img--full">
                    {% if paragraph.entity.field_media.entity.field_media_oembed_video %}
                        <iframe class="refrence-image" src="https://www.youtube.com/embed/{{ paragraph.entity.field_media.entity.field_media_oembed_video.value | slice(17)}}"></iframe>
                    {% endif %}
                    {% if paragraph.entity.field_media.entity.field_media_image %}
                        <img class="refrence-image" src="{{ paragraph.entity.field_media.entity.field_media_image.entity.uri.value | image_style('basic') }}" alt="">
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>